<?xml version="1.0"?>
<launch>
	<!-- ipa_planning_and_reasoning_system -->

	<!-- ipa_pars -->
	<group ns = "ipa_pars">

	<!-- nodes to start -->
	<node pkg="ipa_pars_main" type="planning_executor_server.py" args="$(find ipa_pars_main)/execution_tests/" name="planning_executor_server_spawner" respawn="false" output="screen" />
	<node pkg="ipa_pars_main" type="planning_executor_client.py" name="planning_executor_client_spawner" args="$(find ipa_pars_main)/execution_tests/" respawn="false" output="screen" />
	<node pkg="ipa_pars_main" type="knowledge_parser_server.py" name="knowledge_parser_server_spawner" args="$(find ipa_pars_main)/execution_tests/ $(find ipa_pars_main)/knowledge/"  respawn="false" output="screen" />
	<node pkg="ipa_pars_main" type="planning_solver_server.py" name="planning_solver_server_spawner" args="$(find ipa_pars_main)/tmp/" respawn="false" output="screen" />
	<node pkg="ipa_pars_main" type="planning_server.py" name="planning_server_spawner" args="$(find ipa_pars_main)/examples/" respawn="false" output="screen" />
	</group>
</launch>
