<?xml version="1.0"?>
<launch>
	
	<param name="/use_sim_time" value="false"/>
	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)"/>
	<arg name="pkg_env_config" default="$(find cob_default_env_config)"/>

	<!-- SPAWN FETCH AND CARRY BOXES -->

	<node pkg="gazebo_ros" type="spawn_model" name="spawn_the_box1" args="-file $(find planning_demo)/scripts/blue_box/model-1_4.sdf -sdf -model box1 -x 0.5 -y -0.5 -z 0.0" respawn="false" output="screen" />

	<node pkg="gazebo_ros" type="spawn_model" name="spawn_the_box2" args="-file $(find planning_demo)/scripts/black_box/model-1_4.sdf -sdf -model box2 -x -2.7 -y -1.7 -z 0.0" respawn="false" output="screen" />

	<node pkg="gazebo_ros" type="spawn_model" name="spawn_the_box3" args="-file $(find planning_demo)/scripts/black_box/model-1_4.sdf -sdf -model box3 -x -0.5 -y -2.5 -z 0.0" respawn="false" output="screen" />

	<node pkg="gazebo_ros" type="spawn_model" name="spawn_the_box4" args="-file $(find planning_demo)/scripts/yellow_box/model-1_4.sdf -sdf -model box4 -x 1.5 -y -2.5 -z 0.0" respawn="false" output="screen" />

	<node pkg="gazebo_ros" type="spawn_model" name="spawn_the_box5" args="-file $(find planning_demo)/scripts/yellow_box/model-1_4.sdf -sdf -model box5 -x -1.5 -y -3.5 -z 0.0" respawn="false" output="screen" />

	<node pkg="gazebo_ros" type="spawn_model" name="spawn_the_box6" args="-file $(find planning_demo)/scripts/black_box/model-1_4.sdf -sdf -model box6 -x -3.5 -y -4.5 -z 0.0" respawn="false" output="screen" />

	<node pkg="gazebo_ros" type="spawn_model" name="spawn_the_box7" args="-file $(find planning_demo)/scripts/black_box/model-1_4.sdf -sdf -model box7 -x -0.5 -y -1.5 -z 0.0" respawn="false" output="screen" />

	<node pkg="gazebo_ros" type="spawn_model" name="spawn_the_box8" args="-file $(find planning_demo)/scripts/black_box/model-1_4.sdf -sdf -model box8 -x -1.5 -y -2.5 -z 0.0" respawn="false" output="screen" />

	<node pkg="gazebo_ros" type="spawn_model" name="spawn_the_box9" args="-file $(find planning_demo)/scripts/yellow_box/model-1_4.sdf -sdf -model box9 -x -4.5 -y -4.0 -z 0.0" respawn="false" output="screen" />

	<node pkg="gazebo_ros" type="spawn_model" name="spawn_the_box10" args="-file $(find planning_demo)/scripts/black_box/model-1_4.sdf -sdf -model box10 -x -2.5 -y -4.5 -z 0.0" respawn="false" output="screen" />

	<node pkg="gazebo_ros" type="spawn_model" name="spawn_the_box11" args="-file $(find planning_demo)/scripts/black_box/model-1_4.sdf -sdf -model box11 -x 0.5 -y +0.5 -z 0.0" respawn="false" output="screen" />

	<node pkg="gazebo_ros" type="spawn_model" name="spawn_ragdoll" args="-file /home/rmbce/.gazebo/models/ragdoll/model-1_4.sdf -sdf -model ragdoll -x -3.8 -y -1.3 -z 0.0 -Y -1.5" respawn="false" output="screen" />

	<node pkg="gazebo_ros" type="spawn_model" name="spawn_beer" args="-file /home/rmbce/.gazebo/models/beer/model-1_4.sdf -sdf -model beer -x -1.4 -y -0.5 -z 1.0" respawn="false" output="screen" />
</launch>	

